#
# crontab -e
#
# see https://crontab.guru
#

PATH=/usr/local/bin:/usr/bin
SHELL=/usr/local/bin/bash

# Need this for `click` library
# See: http://click.pocoo.org/5/python3/
# This problem occurs only with crontab
LC_ALL=en_US.utf-8
LANG=en_US.utf-8

#======================================================================================================#
# General                                                                                              #
#======================================================================================================#
#  Min  |  Hour  |  Mday  |  Month  |  Wday  |  Command                                                #
#======================================================================================================#
   0        *        *        *         *        $HOME/.dotfiles/cron/cron@hourly.sh  > /dev/null 2>&1
   30       11       *        *         *        $HOME/.dotfiles/cron/cron@daily.sh   > /dev/null 2>&1
   0        11       *        *         1        $HOME/.dotfiles/cron/cron@weekly.sh  > /dev/null 2>&1
   0        11       1        *         *        $HOME/.dotfiles/cron/cron@monthly.sh > /dev/null 2>&1
#======================================================================================================#

#======================================================================================================#
# Specific                                                                                              #
#======================================================================================================#
#  Min  |  Hour  |  Mday  |  Month  |  Wday  |  Command                                                #
#======================================================================================================#

#======================================================================================================#
